{
	"trailingComma": "es5",
	"tabWidth": 2,
	"semi": true,
	"singleQuote": false,
	"printWidth": 100,
	"arrowParens": "always",
	"jsxBracketSameLine": false,
	"endOfLine": "auto",
	"bracketSpacing": true,
	"useTabs": true,
	"proseWrap": "preserve",
	"plugins": ["prettier-plugin-tailwindcss"]
}
